<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <h1>사원정보 등록</h1>
<!--   <p th:text="${name}"></p>-->
   <hr>
   <form th:action="@{/employee/add}" method="post" th:object="${employee}">
       <label for="empName"></label>
       <input type="text" th:field="*{empName}" placeholder="이름을 입력하세요">
       <label for="empType"></label>
       <input type="text" th:field="*{empType}" placeholder="사원구분코드를 입력하세요">
       <label for="empType"></label>
       <input type="date" th:field="*{joinDate}" placeholder="입사일자를 입력하세요">
       <label for="empType"></label>
       <input type="date" th:field="*{salary}" placeholder="입사일자를 입력하세요">


        <!--   로그인한 사용자의 정보를 가지고 post 등록-->
       <input hidden="text" name="userId" th:value="${session.userId}" >

       <button type="submit">저장</button>
   </form>
   <button th:onclick="|location.href='@{/logout}'|">로그아웃</button>
</body>
</html>